<html>
<head>
<style type=text/css">
<!--
 .tab {margin-left: 40 px;}
-->
</style>
</head>

<body>
<table width="100%">
   <tbody><tr>
    <td width="5%">
     <center>
      <a href="https://tangerinesdr.com"><img src="/static/tangerine_pix_sm.jpg" alt="TangerineSDR" >
     </center>
   </td>
	<td width="78%">
   	    <div class="bgtangerine">
	     <hr class="tanger">
		    <b style="font-size: 60px">TangerineSDR</b><br> 
		    <div style="font-size: 30px">a TAPR Modular Scientific Software Defined Radio Project</div>
            <p></p><div style="font-size: 24px">Clock Setup</div>
	     <hr class="tanger">
	    </div>
	</td>
    <td>
	  <center>
		  <a href="https://www.tapr.org/"><img src="/static/tapr-logo.png" alt="TAPR"></a>
	  </center> 
	</td>
     </tr>

	<br></br>

      </table>

	  <table style="margin-left:200px" border = "1" width=70% > 
	  <tr>
	   <th class="bgtangerine" width="10%" valign="top" align="left">
           <b style="font-size: 14px">Under consruction</th>


<!--
	   <th>Status</th>
      </tr>
	  <tr>
	   <td>DE</td>
	   <td>{{ result }}</td>
	 <tr>
		<td>Data Collection</td>
	   <td> {{ dataStat }}
	  <td>
	  </table>

		   <p style="margin-left:200px" class="links"><b><a href="/config">Configure</a></b></p>
           <p style="margin-left:200px" class="links"><b><a href="/restart">Restart</a></b<</p>
		   <p style="margin-left:200px" class="links"><b><a href="/startcollection">Start Data Collection</a></b></p>
		   <p style="margin-left:200px" class="links"><b><a href="/stopcollection">Stop Data Collection</a></b></p>
		   <p style="margin-left:200px" class="links"><b><a href="/TangerineSDR_documents/">Central Control System</a></b></p>
		   <p style="margin-left:200px"  class="links"><b><a href="/tsarchive/">Local Propagation Analyzer</a></b></p>
       </td>
-->
   </table>
  </tbody>

   </body>
</html>
