<html>
<script>
function goBack() {
  window.history.back();
}
</script>
<body>
<table width="100%">
   <tbody><tr>
    <td width="5%">
     <center>
      <a href="https://tangerinesdr.com"><img src="/static/tangerine_pix_sm.jpg" alt="TangerineSDR" >
     </center>
   </td>
	<td width="78%">
   	    <div class="bgtangerine">
	     <hr class="tanger"><a href="http://localhost:5000">
		    <b style="font-size: 60px">TangerineSDR</b><br> </a>
		    <div style="font-size: 30px">a TAPR Modular Scientific Software Defined Radio Project</div>
            <br></br>
            <div style="font-size: 24px">Callsign Monitor</div>
	     <hr class="tanger">
	    </div>
	</td>
    <td>
	  <center>
		  <a href="https://www.tapr.org/"><img src="/static/tapr-logo.png" alt="TAPR"></a>
	  </center> 
	</td>
     </tr>
       <tr>
	<td>
	</td>
	   <td class="bgtangerine" align = "left" width="10%" valign="top" >
	  <table style="margin-left:1px" border = "1" width=70% > 
	  <tr>
	   <th class="bgtangerine" width="10%" valign="top" align="left">
           <b style="font-size: 14px">#</th>
	   <th style="width:50px" >Callsign</th>
      </tr>
	  <tr>
	<form action = "http://localhost:5000/callsign" method = "post">
	   <td>0</td>
	   <td style="width:50px"><input type="text" name="c0" value={{ c0 }} /> </td>
	 <tr>
	   <td>1</td>
	   <td style="width:50px"><input type="text" name="c1" value={{ c1 }} /> </td>
	 <tr>
	   <td>2</td>
	   <td style="width:50px"><input type="text" name="c2" value={{ c2 }} /> </td>
	 <tr>
	   <td>3</td>
	   <td style="width:50px"><input type="text" name="c3" value={{ c3 }} /> </td>
	 <tr>
	   <td>4</td>
	   <td style="width:50px"><input type="text" name="c4" value={{ c4 }} /> </td>
	 <tr>
	   <td>5</td>
	   <td style="width:50px"><input type="text" name="c5" value={{ c5 }} /> </td>
	  </table>
           <p style="margin-left:200px" class="links"><b><a href="/notification">Configure Notification</a></b></p>

     <form action = "http://localhost:5000/callsign" method = "POST">
         <p><input type = "submit" name = "csubmit" value = "Save Changes" /></p>         
         <p><input type = "submit" name = "csubmit" value = "Discard Changes" /></p>  
     </form>

           </td>
  </tbody>

   </body>
</html>
