<html>

<table width="100%">
   <tbody><tr>
    <td width="5%">
     <center>
      <a href="https://tangerinesdr.com"><img src="/static/tangerine_pix_sm.jpg" alt="TangerineSDR" >
     </center>
   </td>
	<td width="78%">
   	    <div class="bgtangerine">
	     <hr class="tanger">
            <a href="/">
		    <b style="font-size: 60px">TangerineSDR</b><br> </a>
		    <div style="font-size: 30px">a TAPR Modular Scientific Software Defined Radio Project (version 0)</div>
            <div style="font-size: 24px">DataEngine Channel/Antenna Setup</div>
	     <hr class="tanger">
	    </div>
	</td>
    <td>
	  <center>
		  <a href="https://www.tapr.org/"><img src="/static/tapr-logo.png" alt="TAPR"></a>
	  </center> 
	</td>
     </tr>

      </table>
      <center>
      To make a channel active, select antenna#; otherwise, set to off.
      </center>
      <form action = "/desetup" method = "POST">
	  <table style="margin-left:200px" border = "1" width=70% > 
     </td>
     <td><input type = "submit" name = "csubmit" value = "Save Changes" />  
         <input type = "submit" name = "csubmit" value = "Discard Changes" /></p>  
     </td>

	<form action = "/desetup" method = "POST">
	  <table style="margin-left:200px" border = "1" width=70% > 
 	   <td style="width:400px">Ringbuffer path<input type="text" name="ringbufferPath" 
            size = "40" value={{ ringbufferPath }} /> </td>
<td>Status:   {{ status }} </td>
      </table> 
      
	  <table style="margin-left:200px" border = "1" width=70% > 
	  <tr><font color="white">      
       <th style="width:300px" >Number of Channels to run: </th>
	   <th style="width:50px" >{{ form.channelcount }}</th>
	   <th><input type = "submit" name = "csubmit" value = "Set no. of channels" /> </th>
       <th> Data Rate (samples/sec): {{ form.channelrate }} </th>
      </tr>

	  <table style="margin-left:200px" border = "1" width=70% > 
	  <tr><font color="white">      
       <th style="width:50px" >Channel</th>
	   <th style="width:50px" >Antenna Port</th>
	   <th>Center Frequency (MHz)</th>	 
      </tr>
         {{ form.hidden_tag() }} 
         {% for channel in channellistform.channels %}
           <tr>
              <td>{{ loop.index0 }} </td>
              <td>{{ channel.channel_ant }} </td>
              <td>{{ channel.channel_freq }} </td>    
               </tr>
         {% endfor %}

           </td>
  </tbody>

</html>
