<html>
<script>
function goBack() {
  window.history.back();
}
</script>
<body>
<table width="100%">
   <tbody><tr>
    <td width="5%">
     <center>
      <a href="https://tangerinesdr.com"><img src="/static/tangerine_pix_sm.jpg" alt="TangerineSDR" >
     </center>
   </td>
	<td width="78%">
   	    <div class="bgtangerine">
	     <hr class="tanger">
		    <b style="font-size: 60px">TangerineSDR</b><br> 
		    <div style="font-size: 30px">a TAPR Modular Scientific Software Defined Radio 
            <div style="font-size: 24px">Data Engine Setup</div>
	     <hr class="tanger">
	    </div>
	</td>
    <td>
	  <center>
		  <a href="https://www.tapr.org/"><img src="/static/tapr-logo.png" alt="TAPR"></a>
	  </center> 
	</td>
     </tr>
       <tr>
	<td>
	</td>

	   <td class="bgtangerine" align = "left" width="10%" valign="top" >

	  <table style="margin-left:1px" border = "1" width=70% > 
 	   <td style="width:50px">Ringbuffer path<input type="text" name="ringbufferPath" 
            value={{ ringbufferPath }} /> </td>
      </table>

	  <table style="margin-left:1px" border = "1" width=70% > 
	  <tr>
	   <th class="bgtangerine" width="10%" valign="top" align="left">
           <b style="font-size: 14px">Channel</th>
	   <th style="width:50px" >Antenna (0 or 1)</th>
	   <th>Center Frequency (MHz)</th>
	   <th>Bandwidth (kHz)</th>	
      </tr>
	  <tr>
	<form action = "http://localhost:5000/desetup" method = "post">
	   <td>0</td>
	   <td style="width:50px"><input type="text" name="ch0a" value={{ ant0 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch0f" value={{ ch0f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch0b" value={{ ch0b }} /> </td>
	 <tr>
	   <td>1</td>
	   <td style="width:50px"><input type="text" name="ch1a" value={{ ant1 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch1f" value={{ ch1f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch1b" value={{ ch1b }} /> </td>
	 <tr>
	   <td>2</td>
	   <td style="width:50px"><input type="text" name="ch2a" value={{ ant2 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch2f" value={{ ch2f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch2b" value={{ ch2b }} /> </td>
	 <tr>
	   <td>3</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant3 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch3f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch3b }} /> </td>
	 <tr>
	   <td>4</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant4 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch4f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch4b }} /> </td>
	 <tr>
	   <td>5</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant5 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch5f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch5b }} /> </td>
	 <tr>
	   <td>6</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant6 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch6f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch6b }} /> </td>
	 <tr>
	   <td>7</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant7 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch7f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ c73b }} /> </td>
	 <tr>
	   <td>8</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant8 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch8f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch8b }} /> </td>
	 <tr>
	   <td>9</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant9 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch9f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch9b }} /> </td>
	 <tr>
	   <td>10</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant10 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch10f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch10b }} /> </td>
	 <tr>
	   <td>11</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant11 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch11f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch11b }} /> </td>
	 <tr>
	   <td>12</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant12 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch12f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch12b }} /> </td>
	 <tr>
	   <td>31</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant13 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch13f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch13b }} /> </td>
	 <tr>
	   <td>14</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant14 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch14f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch14b }} /> </td>
	 <tr>
	   <td>15</td>
	   <td style="width:50px"><input type="text" name="ch3a" value={{ ant15 }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3f" value={{ ch15f }} /> </td>
	   <td style="width:50px"><input type="text" name="ch3b" value={{ ch15b }} /> </td>

	  </table>




	
	  <table style="margin-left:1px" border = "1" width=70% > 
      <form action = "http://localhost:5000/desetup" method = "POST">
         <p><input type = "submit" name = "csubmit" value = "Save Changes" /></p>         
         <p><input type = "submit" name = "csubmit" value = "Discard Changes" /></p>  
<!--         <button onclick="goBack()">Cancel Chnages and Go Back</button> -->

     </form>




           </td>
  </tbody>

   </body>
</html>
