<html>
<table width="100%">
   <tbody><tr>
    <td width="5%">
     <center>
      <a href="https://tangerinesdr.com"><img src="/static/tangerine_pix_sm.jpg" alt="TangerineSDR" >
     </center>
   </td>
	<td width="78%">
   	    <div class="bgtangerine">
	     <hr class="tanger">
		    <b style="font-size: 60px">TangerineSDR</b><br> 
		    <div style="font-size: 30px">a TAPR Modular Scientific Software Defined Radio Project</div>
            <p></p><div style="font-size: 24px">Main Control Panel</div>
	     <hr class="tanger">
	    </div>
	</td>
    <td>
	  <center>
		  <a href="https://www.tapr.org/"><img src="/static/tapr-logo.png" alt="TAPR"></a>
	  </center> 
	</td>
     </tr>
       <tr>
	<td>
	</td>
	   <td class="bgtangerine" width="10%" valign="top" align="left">
           <b style="font-size: 14px">Status: </b><br>
      <table border = 1>
         {{ result }}

      </table>
		   <p class="links"><b><a href="/config">Configure</a></b></p>
           <p class="links"><b><a href="/restart">Restart</a></b<</p>
		   <p class="links"><b><a href="/audio/">Start Data Collection</a></b></p>
		   <p class="links"><b><a href="/videos/video.html">Stop Data Collection</a></b></p>
		   <p class="links"><b><a href="/TangerineSDR_documents/">Central Control System</a></b></p>
		   <p class="links"><b><a href="/tsarchive/">Local Propagation Analyzer</a></b></p>
       </td>

  </tbody>

   </body>
</html>
