<html>
<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript>
$.getJSON( "/_ft8list", function( data ) {
  var items = [];
  $.each( data, function( key, val ) { 
    for(key1 in key) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
    }
  });
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "#result" );
});
</script>
<script type=text/javascript>
function updateList() { $.getJSON( "/_ft8list", function( data ) {
  var items = [];
  $("#result").text(" ");
  $.each( data, function( key, val ) { 
    for(key1 in key) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
    }
  });
  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "#result" );
});
}
setInterval("updateList()",15000)
</script>
<body>

<table width="100%">
   <tbody><tr>
    <td width="5%">
     <center>
      <a href="https://tangerinesdr.com"><img src="/static/tangerine_pix_sm.jpg" alt="TangerineSDR" >
     </center>
   </td>
	<td width="78%">
   	    <div class="bgtangerine">
	     <hr class="tanger">
		    <b style="font-size: 60px">TangerineSDR</b><br> 
		    <div style="font-size: 30px">a TAPR Modular Scientific Software Defined Radio Project (version 0.10)</div>
            <div style="font-size: 24px"><strong>Main Control Panel</strong></div>
	     <hr class="tanger">
	    </div>
	</td>
    <td>
	  <center>
		  <a href="https://www.tapr.org/"><img src="/static/tapr-logo.png" alt="TAPR"></a>
	  </center> 
	</td>
     </tr>
      </table>
	  <table style="margin-left:200px" border = "1" width=75% > 
	  <tr>
	   <th class="bgtangerine" width="10%" valign="top" align="left">
           <b style="font-size: 14px">Status of: </th>
	   <th>Status</th>
      </tr>
	  <tr>
	   <td>DE</td>
	   <td>{{ form.destatus }}</td>
	 <tr>
		<td>Data Collection</td>
	   <td>{{ form.dataStat }}</td>  
	  </table>
      <fieldset style="width:900px; margin-left:200px; font-size: 14px" align="right">
            <legend>Configure</legend>
		 <p style="margin-left:10px" class="links"><b><a href="/config">User Profile</a> &nbsp; &nbsp; &nbsp;
		 <a href="/TangerineSDR_documents/">Central Control System</a> &nbsp; &nbsp;
         <a href="/desetup">Data Collection Setup</a> &nbsp;
         <a href="/throttle">Throttling Setup</a></b></p>
		 <p style="margin-left:10px" class="links"><b><a href="/callsign">Callsign/Grid Monitor Setup</a>&nbsp; &nbsp;
		 <a href="/index.html">Magnetometer Setup/Test</a> &nbsp;&nbsp;
         <a href="/notification">Notification Setup</a></b></p>
         <p style="margin-left:10px" class="links"><b><a href="/restart">Start/restart Main Control</a> (Please allow 7 seconds) &nbsp; &nbsp; &nbsp;
         <a href="/propagation">FT8 Setup</a>&nbsp; &nbsp;
         <a href="/propagation2">WSPR Setup</a></b></p>
     </fieldset>
     <form style="width:500px;margin-left:200px" width = 90% action = "/" method = post>
       <table>
        <td> 
         <fieldset style="width:300px" align="left" >
            <legend>Data Collection</legend>
            {{ form.hidden_tag() }}    
            <div style = font-size:15px; font-weight:bold; margin-left:100px;>
               {{ form.modeR }}Ringbuffer<br>
               {{ form.modeS }}Snapshotter<br>
               {{ form.modeF }}Continuous Upload<br>
              <input type = "submit" name = "csubmit" value = "Save" />
               {{ form.startDC }}
               {{ form.stopDC  }}
            </div>
            <font color ="red">{{ form.errline }}</font>
         </fieldset>
         </td>
         <td>
         <fieldset style="width:40%" align = "right">
          <legend>Watch Propagation</legend>
             <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.prop.label }}<br>
               {{ form.prop }}
               <br><br>
               {{ form.startprop }}
               {{ form.stopprop  }}
            </div>
           </fieldset>
           </td>
         <td>
         <fieldset style="width:350px;margin-right:100px;" align = "left">
          <legend>FT8 spots by band</legend>
             <div style = "font-size:15px;margin-left:10px;
               height:150px;width:300px;overflow:auto;" ><font size="2" face=" Courier New">
                  <span id=result></span>  
               <br><br>
              <font>
            </div>
           </fieldset>
           </td>   
      </form>
       </td>
   </table>
  </tbody>
</body>
</html>
